<!-- EDIT ASSIGNMENT -->
<div class="container">
  <br>
  <%= link_to assignment_path(@assignment), data: {title: "Permanently delete" + @assignment.name, confirm: "Permanently delete " + "'" + @assignment.name + "'" + "?" }, method: :delete  do %>
    <span class="pull-right glyphicon glyphicon-trash">
    </span>
  <% end %>
  <br>
        <%= form_for @assignment do |f| %>

            <div class="row">
              <!-- ASSIGNMENT STAGE -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="loss-category">Assignment Stage</label>
                <br>
                <%= f.select :assignment_stage, Assignment.assignment_stages.map { |key, value| [key.humanize, key] }, :prompt => "---", :include_blank => true %>
              </div>

              <!-- ASSIGNMENT NAME -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="assignment-name">Assignment Name</label>
                <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Example: Lawson" %>
              </div>

              <!-- DATE ASSIGNED -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="date-assigned">Date Assigned</label>
                <%= f.date_field :date_assigned, class: "form-control" %>
              </div>

              <!-- LOSS CATEGORY -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="loss-category">Loss Type</label>
                <br>
                <%= f.select :loss_category, Assignment.loss_categories.map { |key, value| [key.humanize, key] }, :prompt => "---", :include_blank => true %>
              </div>


              <!-- JOB NUMBER -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="job-number">Job Number</label>
                <%= f.text_field :job_number, class: "form-control", placeholder: "Example: EBCA-101-4-16-R" %>
              </div>

              <!-- LOSS DESCRIPTION -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="loss-description">Loss Description</label>
                <%= f.text_area :loss_description, class: "form-control", placeholder: "Example: Supply line behind toilet leaked due to wear and tear", style: "resize:none;" %>
              </div>

              <!-- MITIGATION STATUS -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="mitigation-status">Mitigation Status</label>
                <%= f.text_area :mitigation_status, class: "form-control", placeholder: "Example: ServPro is completing the mitigation. David is the project manager, his number is (555) 555-5555", style: "resize:none;" %>
              </div>

              <!-- ABATEMENT STATUS -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="abatement-status">Abatement Status</label>
                <%= f.text_area :abatement_status, class: "form-control", placeholder: "Example: ERI gave us a bid and they can likely start on Monday", style: "resize:none;" %>
              </div>

              <!-- CLAIM NUMBER -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="claim-number">Claim Number</label>
                <%= f.text_field :claim_number, class: "form-control", placeholder: "Example: 1001-16-548" %>
              </div>

              <!-- ADDRESS -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="address">Site Address</label>
                <%= f.text_area :address, class: "form-control", placeholder: "Example: 123 Fake Street Fresno, CA", style: "resize:none;" %>
              </div>

              <!-- YEAR BUILT -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="year-built">Year Built</label>
                <%= f.text_field :year_built, class: "form-control", placeholder: "Example: 1975" %>
              </div>


            </div>

                <br>
            <%= f.submit "Update Assignment", class: "btn btn-success"  %>

          <% end %>

          <br>
          <br>
</div>
