<!-- EDIT ASSIGNMENT -->
<div class="container">
  <br>
  <%= link_to assignment_path(@assignment), data: {title: "Permanently delete" + @assignment.name, confirm: "Permanently delete " + "'" + @assignment.name + "'" + "?" }, method: :delete  do %>
    <span class="pull-right glyphicon glyphicon-trash">
    </span>
  <% end %>
  <br>
        <%= form_for @assignment do |f| %>

            <div class="row">
              <!-- ASSIGNMENT NAME -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="assignment-name">Assignment Name</label>
                <%= f.text_field :name, class: "form-control input-lg", placeholder: "Example: Lawson" %>
              </div>

              <!-- ASSIGNMENT STAGE -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="loss-category">Assignment Stage</label>
                <br>
                <%= f.select :assignment_stage, Assignment.assignment_stages.map { |key, value| [key.humanize, key] }, :prompt => "---", :include_blank => true %>
              </div>

              <!-- DATE ASSIGNED -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="date-assigned">Date Assigned</label>
                <%= f.date_field :date_assigned, class: "form-control" %>
              </div>

              <!-- ORIGINAL INSPECTION DATE -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="original-insp-date">Original Inspection Date</label>
                <br>
                <%= f.datetime_select :original_insp_date, class: "form-control", order: [:month, :day, :year] %>
              </div>

              <!-- RETURN INSPECTION DATE -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="return-insp-date">Return Inspection Date</label>
                <br>
                <%= f.datetime_select :return_insp_date, class: "form-control", order: [:month, :day, :year] %>
              </div>

              <!-- LOSS CATEGORY -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="loss-category">Loss Type</label>
                <br>
                <%= f.select :loss_category, Assignment.loss_categories.map { |key, value| [key.humanize, key] }, :prompt => "---", :include_blank => true %>
              </div>

              <!-- JOB NUMBER -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="job-number">Job Number</label>
                <%= f.text_field :job_number, class: "form-control", placeholder: "Example: EBCA-101-4-16-R" %>
              </div>

              <!-- LOSS DESCRIPTION -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="loss-description">Loss Description</label>
                <%= f.text_area :loss_description, class: "form-control", placeholder: "Example: Supply line behind toilet leaked due to wear and tear", style: "resize:none;" %>
              </div>

              <!-- MITIGATION STATUS -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="mitigation-status">Mitigation Status</label>
                <%= f.text_area :mitigation_status, class: "form-control", placeholder: "Example: ServPro is completing the mitigation. David is the project manager, his number is (555) 555-5555", style: "resize:none;" %>
              </div>

              <!-- ABATEMENT STATUS -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="abatement-status">Abatement Status</label>
                <%= f.text_area :abatement_status, class: "form-control", placeholder: "Example: ERI gave us a bid and they can likely start on Monday", style: "resize:none;" %>
              </div>

              <!-- CLAIM NUMBER -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="claim-number">Claim Number</label>
                <%= f.text_field :claim_number, class: "form-control", placeholder: "Example: 1001-16-548" %>
              </div>

              <!-- ADDRESS -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="address">Site Address</label>
                <%= f.text_area :address, class: "form-control", placeholder: "Example: 123 Fake Street Fresno, CA", style: "resize:none;" %>
              </div>

              <!-- YEAR BUILT -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="year-built">Year Built</label>
                <%= f.text_field :year_built, class: "form-control", placeholder: "Example: 1975" %>
              </div>

              <!-- PRIMARY CONTACT -->
              <label class="col-xs-12" for="primary-contact">Primary Contact</label>
              <br>
              <div style="margin-bottom: 25px" class="col-xs-12">
                <%= f.text_field :contact_name, class: "form-control" %>
              </div>
              <div style="margin-bottom: 25px" class="col-xs-12">
                <%= f.phone_field :contact_phone, class: "form-control" %>
              </div>
              <div style="margin-bottom: 25px" class="col-xs-12">
                <%= f.email_field :contact_email, class: "form-control" %>
              </div>

              <!-- ESTIMATE STATUS? -->

              <!-- TARGET START DATE -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="target-start-date">Target Start Date</label>
                <%= f.date_field :target_start_date, class: "form-control" %>
              </div>

              <!-- TARGET END DATE -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="target-end-date">Target End Date</label>
                <%= f.date_field :target_end_date, class: "form-control" %>
              </div>

              <!-- ACTUAL START DATE -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="actual-start-date">Actual Start Date</label>
                <%= f.date_field :actual_start_date, class: "form-control" %>
              </div>

              <!-- ACTUAL END DATE -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="actual-end-date">Actual End Date</label>
                <%= f.date_field :actual_end_date, class: "form-control" %>
              </div>

              <!-- IS ON XA? -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="is-on-xa">On XactAnalysis?</label>
                <br>
                <%= f.radio_button :is_on_xa, true, :value => true%>
                <%= f.label :is_on_xa, "Yes", value: true %>
                <%= f.radio_button :is_on_xa, false, :value => false, style: "margin-left:10px;" %>
                <%= f.label :is_on_xa, "No", value: false %>
              </div>

              <!-- ESTIMATOR EXPERIENCE -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="estimator-experience">Estimator Experience</label>
                <br>
                <%= f.select :estimator_experience, Assignment.estimator_experiences.map { |key, value| [key.humanize, key] }, :prompt => "---", :include_blank => true %>
              </div>

              <!-- ESTIMATE TOTAL -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="estimate-total">Estimate Total</label>
                <%= f.number_field :estimate_total, class: "form-control", placeholder: "$" %>
              </div>

              <!-- IS CONTRACT SIGNED? -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="is-contract-signed">Contract Signed?</label>
                <br>
                <%= f.radio_button :is_contract_signed, true, :value => true%>
                <%= f.label :is_contract_signed, "Yes", value: true %>
                <%= f.radio_button :is_contract_signed, false, :value => false, style: "margin-left:10px;" %>
                <%= f.label :is_contract_signed, "No", value: false %>
              </div>

              <!-- LOST INFO -->
              <p class="col-xs-12"><b>If the assignment was lost, please elaborate on the details:</b></p>

              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="lost-sales-related">Sales-Related</label>
                <br>
                <%= f.select :lost_sales_related, Assignment.lost_sales_relateds.map { |key, value| [key.humanize, key] }, :prompt => "---", :include_blank => true %>
              </div>

              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="lost-other">Other</label>
                <br>
                <%= f.select :estimator_experience, Assignment.lost_others.map { |key, value| [key.humanize, key] }, :prompt => "---", :include_blank => true %>
              </div>


            </div>

                <br>
            <%= f.submit "Update Assignment", class: "btn btn-success"  %>

          <% end %>

          <br>
          <br>
</div>
