<div class="container">
  <% if current_user.admin? %>
    <h1>All Assignments</h1>
  <% else %>
    <h1><%= current_user.first_name %>'s Assignments</h1>
  <% end %>

<br>
    <!-- <% if @assignments.count == 0 %>
      <h5>No assignments...</h5>
    <% else %>
      <% @assignments.each do |assignment| %>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><%= assignment.name %></h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
        <% end %>
    <% end %> -->

</div>

<div id="assignment-tabs" class="container">
  <!-- ASSIGNMENT STAGE TABS -->
  <ul id="tabs" class="nav nav-tabs">
    <li class="active"><a href="#1" data-toggle="tab">Current Assignments</a>
    </li>
		<li><a href="#2" data-toggle="tab">Awaiting Customer Response</a>
		</li>
		<li><a href="#3" data-toggle="tab">Jobs In Progress</a>
		</li>
    <li><a href="#4" data-toggle="tab">Assignments Not Sold</a>
		</li>
    <li><a href="#5" data-toggle="tab">Completed Jobs</a>
		</li>
    <li><a href="#6" data-toggle="tab">Closed Jobs</a>
		</li>
	</ul>




  <!-- TAB CONTENT -->
	<div id="myTabContent" class="tab-content">

    <!-- ASSIGNED -->
    <div class="tab-pane active" id="1">
      <br>
      <% if @assignments.count == 0 %>
        <h5>No assignments...</h5>
      <% else %>
        <% @assignments.where(assignment_stage: 'assigned').each do |assignment| %>
          <div class="panel panel-info">
            <div class="panel-heading clearfix">
              <h3 class="panel-title pull-left" style="margin-top:0.5em;">
                <% if assignment.loss_category == 'water' %>
                  <span id="water-glyph" class="glyphicon glyphicon-tint"></span>
                <% elsif assignment.loss_category == 'burglary_theft' %>
                  <span id="burglary-theft-glyph" class="glyphicon glyphicon-piggy-bank"></span>
                <% elsif assignment.loss_category == 'vandalism' %>
                  <span id="vandalism-glyph" class="glyphicon glyphicon-erase"></span>
                <% elsif assignment.loss_category == 'small_fire' %>
                  <span id="small-fire-glyph" class="glyphicon glyphicon-fire"></span>
                <% elsif assignment.loss_category == 'large_fire' %>
                  <span id="large-fire-glyph" class="glyphicon glyphicon-fire"></span>
                  <span id="water-loss" class="glyphicon glyphicon-fire"></span>
                <% elsif assignment.loss_category == 'impact' %>
                  <span id="impact-glyph" class="glyphicon glyphicon-tree-conifer"></span>
                <% elsif assignment.loss_category == 'remodel' %>
                  <span id="remodel-glyph" class="glyphicon glyphicon-wrench"></span>
                <% elsif assignment.loss_category == 'hail' %>
                  <span id="hail-glyph" class="glyphicon glyphicon-cloud-download"></span>
                <% elsif assignment.loss_category == 'vehicle' %>
                  <span id="vehicle-glyph" class="glyphicon glyphicon-road"></span>
                <% end %>
                <span style="font-size:20px;margin:10px;color:black;"><b><%= assignment.name %></b></span> #<%= assignment.job_number %>
              </h3>
              <!-- <%= link_to "Add Note", assignment_notes_path, class: "btn btn-default btn-sm pull-right", "data-toggle" => "modal", 'data-target' => '#new-note-on-assignment-modal', method: :post %> -->
              <%= link_to edit_assignment_path(assignment.id) do %>
                <span class="pull-right glyphicon glyphicon-pencil btn-sm">
                </span>
              <% end %>
            </div>

            <!-- ASSIGNMENT CARD BODY -->
            <div class="panel-body">
              <% notes = get_assignment_notes(assignment.id) %>
                <% if notes.count == 0 %>
                  <p>No notes...</p>
                <% else %>
                  <% notes.order(created_at: :desc).each do |note| %>
                    <b><%= note.created_at.localtime.strftime("%m.%d.%y") %></b>
                    <%= note.text %>
                  <% end %>
                <% end %>
                <br>
                <br>
                <!-- CLAIM INFO COLLAPSE -->
                <div class="col-md-3">
                  <h5 class="mb-0">
                    <a href="#claim-info" data-toggle="collapse">
                      Claim
                    </a>
                  </h5>
                  <div id="claim-info" class="collapse">
                    <p>Date Assigned:
                    <% if assignment.date_assigned.present? %>
                      <%= assignment.date_assigned.strftime("%m.%d.%y") %>
                    <% end %>
                    </p>
                    <p>Claim Number: <%= assignment.claim_number %></p>

                    <p>Loss Details: <%= assignment.loss_description %></p>

                    <p>Adjuster Contact</p>
                    <% contact = get_assignment_contact(assignment.id) %>
                    <% contact.where(role: 'adjuster').each do |c| %>
                      <span class="glyphicon glyphicon-user"></span> <%= c.name %>
                      <br>
                      <span class="glyphicon glyphicon-earphone"></span> <%= c.phone %>
                      <br>
                      <span class="glyphicon glyphicon-envelope"></span> <%= c.email %>
                    <% end %>
                    <br>
                    <br>
                    <p>Insurance Company</p>
                    <% company = get_assignment_company(assignment.id) %>
                    <% company.where(category: 'insurance').each do |co| %>
                      <%= co.name %>
                    <% end %>
                  </div>
              </div>
                <!-- END CLAIM INFO COLLAPSE -->

                <!-- APPOINTMENT INFO COLLAPSE -->
                    <div class="col-md-3">
                      <h5 class="mb-0">
                        <a href="#appointment-info" data-toggle="collapse">
                          Appointment
                        </a>
                      </h5>
                      <div id="appointment-info" class="collapse">
                        <p>Original Inspection Date</p>
                        <%= assignment.original_insp_date %>
                        <p>Return Inspection Date</p>
                        <%= assignment.return_insp_date %>
                        <p>Address</p>
                        <%= assignment.address %>
                      </div>
                    </div>
                <!-- END APPOINTMENT INFO COLLAPSE -->

                <!-- CONTACT INFO COLLAPSE -->
                <div class="col-md-3">
                      <h5 class="mb-0">
                        <a href="#contact-info" data-toggle="collapse">
                          Contacts
                        </a>
                      </h5>
                      <div id="contact-info" class="collapse">
                        <% contact = get_assignment_contact(assignment.id) %>
                        <% contact.each do |co| %>
                          <% unless co.role == "project_manager" || co.role == "reconstruction_pm" %>
                            <%= co.role.capitalize %>
                          <% end %>
                          <% if co.role == "project_manager" %>
                          Project Manager
                          <% elsif co.role == "reconstruction_pm" %>
                          Reconstruction Project Manager
                          <% end %>

                          <br>
                          <span class="glyphicon glyphicon-user"></span> <%= co.name %>
                          <br>
                          <span class="glyphicon glyphicon-earphone"></span> <%= co.phone %>
                          <br>
                          <span class="glyphicon glyphicon-envelope"></span> <%= co.email %>
                          <br>
                          <br>
                        <% end %>



                      </div>
                    </div>
                <!-- END CONTACT INFO COLLAPSE -->

                <!-- PRE-RECON INFO COLLAPSE -->
                    <div class="col-md-3">
                      <h5 class="mb-0">
                        <a href="#prerecon-info" data-toggle="collapse">
                          Pre-Recon
                        </a>
                      </h5>
                      <div id="prerecon-info" class="collapse">
                        Mitigation Status: <%= assignment.mitigation_status %>
                        <br>
                        Abatement Status: <%= assignment.abatement_status %>
                        <br>

                      </div>
                    </div>
                <!-- PRE-RECON INFO COLLAPSE -->


            </div>

          </div> <!-- END ASSIGNMENT CARD -->
          <% end %>
      <% end %>
		</div>

    <!-- APPROVED -->
		<div class="tab-pane" id="2">
      <br>
      <% if @assignments.count == 0 %>
        <h5>No assignments...</h5>
      <% else %>
        <% @assignments.where(assignment_stage: 'approved').each do |assignment| %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= assignment.name %></h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
          <% end %>
      <% end %>
		</div>

    <!-- IN_PROGRESS -->
    <div class="tab-pane" id="3">
      <br>
      <% if @assignments.count == 0 %>
        <h5>No assignments...</h5>
      <% else %>
        <% @assignments.where(assignment_stage: 'in_progress').each do |assignment| %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= assignment.name %></h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
          <% end %>
      <% end %>
		</div>

    <!-- NOT_SOLD -->
    <div class="tab-pane" id="4">
      <br>
      <% if @assignments.count == 0 %>
        <h5>No assignments...</h5>
      <% else %>
        <% @assignments.where(assignment_stage: 'not_sold').each do |assignment| %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= assignment.name %></h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
          <% end %>
      <% end %>
		</div>

    <!-- COMPLETED -->
    <div class="tab-pane" id="5">
      <br>
      <% if @assignments.count == 0 %>
        <h5>No assignments...</h5>
      <% else %>
        <% @assignments.where(assignment_stage: 'completed').each do |assignment| %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= assignment.name %></h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
          <% end %>
      <% end %>
		</div>

    <!-- CLOSED -->
    <div class="tab-pane" id="6">
      <br>
      <% if @assignments.count == 0 %>
        <h5>No assignments...</h5>
      <% else %>
        <% @assignments.where(assignment_stage: 'closed').each do |assignment| %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= assignment.name %></h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
          <% end %>
      <% end %>
		</div>

	</div>

  <!-- NEW ASSIGNMENT_NOTE MODAL -->
  <%= render "partials/new_assignment_note_modal" %>

</div>
