<div class="container">
  <% if current_user.admin? %>
    <h1>All Assignments</h1>
  <% else %>
    <h1><%= current_user.first_name %>'s Assignments</h1>
  <% end %>

<br>

</div>

<div id="assignment-tabs" class="container">
  <!-- ASSIGNMENT STAGE TABS -->
  <ul id="tabs" class="nav nav-tabs">
    <li class="active"><a href="#1" data-toggle="tab">Current Assignments</a>
    </li>
		<li><a href="#2" data-toggle="tab">Awaiting Customer Response</a>
		</li>
		<li><a href="#3" data-toggle="tab">Jobs In Progress</a>
		</li>
    <li><a href="#4" data-toggle="tab">Not Sold</a>
		</li>
    <li><a href="#5" data-toggle="tab">Completed Jobs</a>
		</li>
    <li><a href="#6" data-toggle="tab">Closed Jobs</a>
		</li>
	</ul>




  <!-- TAB CONTENT -->
	<div id="myTabContent" class="tab-content">

    <div class="tab-pane active" id="1">
      <br>
      <%= render "partials/assignments/assigned" %>
    </div>
    <!-- APPROVED -->
		<div class="tab-pane" id="2">
      <br>
      <%= render "partials/assignments/approved" %>
		</div>

    <!-- IN_PROGRESS -->
    <div class="tab-pane" id="3">
      <br>
      <%= render "partials/assignments/in_progress" %>
		</div>

    <!-- NOT_SOLD -->
    <div class="tab-pane" id="4">
      <br>
      <%= render "partials/assignments/not_sold" %>
		</div>

    <!-- COMPLETED -->
    <div class="tab-pane" id="5">
      <br>
      <%= render "partials/assignments/completed" %>
		</div>

    <!-- CLOSED -->
    <div class="tab-pane" id="6">
      <br>
      <%= render "partials/assignments/closed" %>
		</div>

	</div>



</div>
