<div class="container">
<br>
<h5 class="pull-right"><%= Time.now.strftime("%A, %B %d, %Y") %></h5>
<h1 class="dock-it-font"><%= greet %> <%= current_user.first_name %></h1>
<br>
<br>

  <div id="to-do-list" class="well col-xs-12 col-md-6 pull-left">
    <h3>To-Do List</h3>
    <ul id="list-area" class="list-group">
      <% if @tasks.count == 0 %>
        <h5>No tasks...</h5>
      <% else %>
        <% @tasks.take(8).each do |task| %>
          <li class="task list-group-item">
            <% unless !task.is_high_priority == true %>
              <span style="background-color:#d9534f;" class="important badge pull-left">!</span>
            <% end %>

            <%= task.text %>

            <%= link_to task_path(task.id), data: {confirm: "'" + task.text + "'" + " is complete"}, method: :delete  do %>
              <span class="pull-left btn btn-default btn-md" style="margin-right:5px; padding:8px;">
              </span>
            <% end %>
          </li>
          <% end %>
      </ul>
      <% end %>

      <button type="button" id="view-tasks" class="btn btn-default pull-left" data-toggle="modal" data-target="#view-tasks-modal">View All Tasks</button>
      <%= link_to "New Task", new_task_path, :id => 'new-task', class: "btn btn-primary pull-right", "data-toggle" => "modal", 'data-target' => '#new-task-modal' %>
  </div>

    <!-- ASSIGNMENT ICONS -->
    <div style="padding-top:0px;" class="container well col-xs-12 col-md-5 pull-right">
      <h3>Assignments</h3>
      <br>
      <div class="row center-block clearfix">
        <div id="assigned-icon" class="folder col-xs-4 col-md-4">
          <a href="/assignments#1"><img src="http://i.imgur.com/UC8sFM9.png" width="60em">
          <br>
          <p>Current</p>
          </a>
        </div>

        <div id="pending-icon" class="folder col-xs-4 col-md-4">
          <a href="/assignments#2"><img src="http://i.imgur.com/t3O1FM5.png" width="60em">
          <br>
          <p>Pending</p>
          </a>
        </div>

        <div id="inprogress-icon" class="folder col-xs-4 col-md-4">
          <a href="/assignments#3"><img src="http://i.imgur.com/7na1sgB.png" width="60em">
          <br>
          <p>Jobs In Progress</p>
          </a>
        </div>
      </div>


      <div class="row center-block clearfix">
        <div id="notsold-icon" class="folder col-xs-4 col-md-4">
          <a href="/assignments#4"><img src="http://i.imgur.com/2OVnspZ.png" width="60em">
          <br>
          <p>Not Sold</p>
          </a>
        </div>

        <div id="completed-icon" class="folder col-xs-4 col-md-4">
          <a href="/assignments#5"><img src="http://i.imgur.com/ohrPQas.png" width="60em">
          <br>
          <p>Completed Jobs</p>
          </a>
        </div>

        <div id="closed-icon" class="folder col-xs-4 col-md-4">
          <a href="/assignments#6"><img src="http://i.imgur.com/EkNxtiy.png" width="60em">
          <br>
          <p>Closed Jobs</p>
          </a>
        </div>
      </div>

    </div>

<!-- RESOURCES -->
<div class="row pull-right" style="margin-right:2px;">
    <div id="resources" style="padding-top:0px; width:250px;" class="well col-xs-12 pull-left">
        <h3>Resources</h3>
        <br>
        <a href="https://apps.xactware.com/apps/xnportal/welcome.jsp">XactAnalysis</a>
        <br>
        <a href="https://secure.innovationproperty.com/secure/login.aspx">Innovation</a>
        <br>
        <a href="https://buildertrend.com/">BuilderTrend</a>
        <br>
        <a href="https://rms-ngs.net/rms/module/user/login.aspx">RMS</a>
        <br>
        <a href="https://secure.na1.echosign.com/public/login">AdobeSign</a>
        <br>
        <br>
    </div>
    <div id="bulletin" style="padding-top:0px; width:201px; margin-left:20px; color:inherit;" class="well col-xs-12 col-sm-6 pull-right">
      <h3>Bulletin Board</h3>
      <% if current_user.admin? %>
        <img id="paper-plane" class="shake" src="http://i.imgur.com/yIf8tzQ.png" width="60vw" style="margin-left:3.2vw; margin-top:1.5vh;">
      <% else %>
        <img id="paper-plane" class="shake" src="http://i.imgur.com/yIf8tzQ.png" width="80vw" style="margin-left:2.5vw; margin-top:1.5vh;">
      <% end %>
      <br>
      <br>
      <% if current_user.admin? %>
      <span style="">
        <%= link_to "View Messages", posts_path, class: "btn btn-primary btn-xs text-center", 'data-toggle' => 'modal', 'data-target' => '#view-posts-modal', style: "width:100%" %>
      </span>
        <br>
        <%= link_to "New Message", new_post_path, class: "btn btn-success btn-xs text-center", 'data-toggle' => 'modal', 'data-target' => '#new-post-modal', style: "width:100%", id: "admin-new-message" %>
      <% else %>
        <%= link_to "View Messages", posts_path, class: "btn btn-primary", 'data-toggle' => 'modal', 'data-target' => '#view-posts-modal', style: "width:100%" %>
      <% end %>
    </div>
  </div>
</div>

<!-- NEW TASK MODAL -->
<%= render "partials/new_task_modal" %>
<!-- NEW ASSIGNMENT_NOTE MODAL -->
<%= render "partials/new_assignment_note_modal" %>
<!-- VIEW ALL TASKS MODAL -->
<%= render "partials/view_tasks_modal" %>
<!-- VIEW ALL POSTS -->
<%= render "partials/view_posts_modal" %>
<!-- NEW POST MODAL -->
<%= render "partials/new_post_modal" %>
