<div class="container">
<br>
<h1><%= greet %> <%= current_user.first_name %></h1>
<br>
<br>

  <div style="padding-top:0px;" class="well col-xs-12 col-md-6 pull-left">
    <h3>To-Do List</h3>
    <ul class="list-group">
      <% if @tasks.count == 0 %>
        <h5>No tasks...</h5>
      <% else %>
        <% @tasks.take(8).each do |task| %>
          <li class="task list-group-item">
            <% unless !task.is_high_priority == true %>
              <span style="background-color:#d9534f;" class="important badge pull-left">!</span>
            <% end %>




            <%= link_to task_path(task.id), data: {confirm: "Delete: " + "'" + task.text + "'" + "?"}, method: :delete  do %>
              <span class="pull-left btn btn-default btn-md" style="margin-right:5px; padding:8px;">
              </span>
            <% end %>

            <%= link_to task.text, task_path(task.id), 'data-toggle' => 'modal', 'data-target' => '#edit-task-modal', method: :put %>
        <% end %>
          </li>
      </ul>
      <button type="button" id="view-tasks" class="btn btn-default pull-left" data-toggle="modal" data-target="#view-tasks-modal">View All Tasks</button>
      <% end %>
      <%= link_to "New Task", new_task_path, :id => 'new-task', class: "btn btn-primary pull-right", "data-toggle" => "modal", 'data-target' => '#new-task-modal' %>
  </div>

    <div style="padding-top:0px;" class="container well col-xs-12 col-md-5 pull-right">
      <h3>Assignments</h3>
      <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
        </div>

      </div>
      <div class="row">
        <div class="col-md-1">!</div>
        <div class="col-md-1">!</div>
        <div class="col-md-1">!</div>
      </div>

    </div>


<div class="row pull-right" style="margin-right:2px;">
    <div style="padding-top:0px; width:250px;" class="well col-xs-12 col-sm-3 pull-left">
        <h3>Resources</h3>
        <a href="https://apps.xactware.com/apps/xnportal/welcome.jsp">XactAnalysis</a>
        <br>
        <a href="https://secure.innovationproperty.com/secure/login.aspx">Innovation</a>
        <br>
        <a href="https://buildertrend.com/">BuilderTrend</a>
        <br>
        <a href="https://rms-ngs.net/rms/module/user/login.aspx">RMS</a>
        <br>
        <a href="https://secure.na1.echosign.com/public/login">AdobeSign</a>
        <br>
    </div>
    <div style="padding-top:0px; width:201px; margin-left:20px; color:inherit;" class="well col-xs-12 col-sm-6 pull-right">
      <h3>Bulletin Board</h3>
      <img id="paper-plane" class="shake" src="http://i.imgur.com/yIf8tzQ.png" width="80vw" style="margin-left:2.5vw; margin-top:1.5vh;">
      <br>
      <br>
      <span style="width:100%;" class="btn btn-primary">View Messages</span>
    </div>
</div>
</div>

<!-- NEW TASK MODAL -->
<%= render "partials/new_task_modal" %>
<!-- NEW ASSIGNMENT_NOTE MODAL -->
<%= render "partials/new_assignment_note_modal" %>
<!-- VIEW ALL TASKS MODAL -->
<%= render "partials/view_tasks_modal" %>
<!-- EDIT TASK MODAL -->
<%= render "partials/edit_task_modal" %>
