<!-- IN PROGRESS -->
  <% if @assignments.where(assignment_stage: 'in_progress').count == 0 %>
    <h5>No assignments...</h5>
  <% else %>
    <% @assignments.where(assignment_stage: 'in_progress').each do |assignment| %>
    <%= render partial: "partials/new_assignment_note_on_assignment", locals: { assignment: assignment } %>
    
      <div class="panel panel-info">
        <div class="panel-heading clearfix">
          <h3 class="panel-title pull-left" style="margin-top:0.4em;">
            <% if assignment.loss_category == 'water' %>
              <span id="water-glyph" class="glyphicon glyphicon-tint"></span>
            <% elsif assignment.loss_category == 'burglary_theft' %>
              <span id="burglary-theft-glyph" class="glyphicon glyphicon-piggy-bank"></span>
            <% elsif assignment.loss_category == 'vandalism' %>
              <span id="vandalism-glyph" class="glyphicon glyphicon-erase"></span>
            <% elsif assignment.loss_category == 'small_fire' %>
              <span id="small-fire-glyph" class="glyphicon glyphicon-fire"></span>
            <% elsif assignment.loss_category == 'large_fire' %>
              <span id="large-fire-glyph" class="glyphicon glyphicon-fire"></span>
              <span id="water-loss" class="glyphicon glyphicon-fire"></span>
            <% elsif assignment.loss_category == 'impact' %>
              <span id="impact-glyph" class="glyphicon glyphicon-tree-conifer"></span>
            <% elsif assignment.loss_category == 'remodel' %>
              <span id="remodel-glyph" class="glyphicon glyphicon-wrench"></span>
            <% elsif assignment.loss_category == 'hail' %>
              <span id="hail-glyph" class="glyphicon glyphicon-cloud-download"></span>
            <% elsif assignment.loss_category == 'vehicle' %>
              <span id="vehicle-glyph" class="glyphicon glyphicon-road"></span>
            <% end %>
            <span style="font-size:20px;margin:10px;color:black;"><b><%= assignment.name.upcase %></b></span> #<%= assignment.job_number %>
          </h3>
          <%= link_to "Edit", edit_assignment_path(assignment.id), class: "btn btn-default btn-sm pull-right" %>

        </div>

        <!-- ASSIGNMENT CARD BODY -->
        <div class="panel-body" style="padding-left:2em">
          <!-- ASSIGNMENT NOTES -->
          <div class="row">
          <div class="col-md-6">
            <button class="new-assignment-note-pencil glyphicon glyphicon-pencil btn btn-default btn-md" data-toggle="modal" data-target="#new-assignment-note-modal-<%= assignment.id %>"></button>
            <% notes = get_assignment_notes(assignment.id) %>
              <% if notes.count == 0 %>

              <p><i>No notes...</i></p>
              <% else %>

                <!-- MOST RECENT ASSIGNMENT_NOTE -->

                <b><%= notes.last.created_at.localtime.strftime("%m.%d.%y") %></b>
                <%= notes.last.text %>

                <!-- ALL NOTES -->
                <a class="glyphicon glyphicon-chevron-down" role="button" data-toggle="collapse" href="#allNotes" aria-expanded="false" aria-controls="allNotes">

                </a>
                <div class="collapse" id="allNotes">
                  <% notes.order(created_at: :desc)[1..-2].each do |note| %>
                    <b><%= note.created_at.localtime.strftime("%m.%d.%y") %></b>
                    <%= note.text %>
                  <% end %>
                </div>

              <% end %>
          </div>
          <!-- MAIN INFO -->
          <div class="col-md-3">
            <!-- DATE ASSIGNED -->
              <p><b>Date Assigned:</b>
              <% if assignment.date_assigned.present? %>
                <%= assignment.date_assigned.strftime("%m.%d.%y") %>
              <% end %>
              </p>

              <!-- ORIGINAL INSPECTION DATE -->
              <% if assignment.original_insp_date.present? %>
                <h5 class="mb-0"><b>Original Inspection</b>
                </h5>
                  <a href="#original-inspection-date" data-toggle="collapse">
                    <span class="glyphicon glyphicon-calendar"></span> <%= assignment.original_insp_date.strftime("%m.%d.%y") %>
                  </a>
                  <br>
                  <div id="original-inspection-date" class="collapse">
                    <span class="glyphicon glyphicon-time"></span> <%= assignment.original_insp_date.strftime("%l:%M %P") %>
                  </div>
              <% else %>
                <h5><b>Original Inspection Date:</b></h5>

                    <div class="alert alert-warning">
                      <p><b>NOTICE:</b> Set inspection date</p>
                    </div>

              <% end %>
              <!-- END ORIGINAL INSPECTION DATE -->


            </div>
            <div class="col-md-3">
              <!-- PRIMARY CONTACT -->
              <% if assignment.contact_role.present? %>
                  <b><%= assignment.contact_role.capitalize %></b>
                <br>
                <% else %>
                <b>No Primary Contact</b>
              <% end %>

                <% if assignment.contact_name.present? %>
                  <span class="glyphicon glyphicon-user"></span> <%= assignment.contact_name %>
                <% else %>
                  <span class="glyphicon glyphicon-user"></span> <i>No contact name</i>
                <% end %>

                <br>
                <% if assignment.contact_phone.present? %>
                  <span class="glyphicon glyphicon-earphone"></span> <%= assignment.contact_phone %>
                <% end %>
                <br>
                <% if assignment.contact_email.present? %>
                  <span class="glyphicon glyphicon-envelope"></span> <%= assignment.contact_email %>
                <% end %>


            </div>
            <!-- END MAIN INFO -->

            <div class="col-md-6 pull-right">
              <!-- LOSS DESCRIPTION -->
              <h5 class="mb-0">
                  <b>Loss Description</b>
              </h5>

                <% if assignment.loss_description.present? %>
                  <%= assignment.loss_description %>
                <% else %>
                  <i>No description</i>
                <% end %>
              <!-- END LOSS DESCRIPTION -->
            </div>
          </div> <!-- END TOP ROW -->

            <hr>
            <div class="row" style="margin-top:-5;padding-top:-5;">
            <div class="col-md-3">
              <!-- PRE-RECON INFO COLLAPSE -->
                    <p class="mb-0">
                      <a href="#prerecon-info" data-toggle="collapse">
                        <b>Pre-Recon</b>
                      </a>
                    </p>
                    <div id="prerecon-info" class="collapse">
                      <p><b>Year Built:</b> <%= assignment.year_built %></p>


                      <!-- RETURN INSPECTION DATE -->
                      <% if assignment.return_insp_date.present? %>
                        <h5 class="mb-0"><b>Return Inspection</b></h5>
                        <a href="#return-inspection-date" data-toggle="collapse">
                          <span class="glyphicon glyphicon-calendar"></span> <%= assignment.return_insp_date.strftime("%m.%d.%y") %>
                        </a>
                        <br>
                        <div id="return-inspection-date" class="collapse">
                          <span class="glyphicon glyphicon-time"></span> <%= assignment.return_insp_date.strftime("%l:%M %P") %>
                        </div>
                      <% else %>
                        <h5 class="mb-0"><b>Return Inspection</b></h5>
                          <i>N/A</i>
                      <% end %>

                      <!-- MITIGATION STATUS COLLAPSE -->
                        <h5 class="mb-0">
                            <b>Mitigation Status</b>
                        </h5>

                          <%= assignment.mitigation_status %>

                      <!-- END MITIGATION STATUS COLLAPSE -->

                      <!-- MITIGATION STATUS COLLAPSE -->
                        <h5 class="mb-0">
                            <b>Abatement Status</b>
                        </h5>

                          <%= assignment.abatement_status %>

                      <!-- END MITIGATION STATUS COLLAPSE -->


                    </div>
                    <!-- END PRE-RECON COLLAPSE -->

          </div>

            <!-- CLAIM INFO COLLAPSE -->
                <div class="col-md-3">
                  <p class="mb-0">
                    <a href="#claim-info" data-toggle="collapse">
                      <b>Claim</b>
                    </a>
                  </p>
                  <div id="claim-info" class="collapse">
                    <!-- INSURANCE COMPANY -->
                    <% if assignment.company_category.present? && assignment.company_category == "insurance" %>
                      <p><b>Insurance Company:</b> <%= assignment.company_name %></p>
                    <% else %>
                      <p><b>Insurance Company:</b> <i>N/A</i></p>
                    <% end %>
                    <!-- CLAIM NUMBER -->
                    <% if assignment.claim_number.present? %>
                      <p><b>Claim Number:</b> <%= assignment.claim_number %></p>
                    <% else %>
                      <p><b>Claim Number:</b> <i>No claim number</i></p>
                    <% end %>

                    <!-- ESTIMATE TOTAL -->
                    <% if assignment.estimate_total.present? %>
                      <p><b>Estimate Total:</b> <%= assignment.estimate_total %></p>
                    <% else %>
                      <p><b>Estimate Total:</b> <i>N/A</i></p>
                    <% end %>

                    <!-- ADDRESS -->
                    <% if assignment.address.present? %>
                    <p><b>Address</b>
                    <br>
                    <%= assignment.address %></p>
                    <% end %>
                  </div>
                </div>
            <!-- END CLAIM INFO COLLAPSE -->

            <!-- CONTACT INFO COLLAPSE -->
            <div class="col-md-3">
                  <p class="mb-0">
                    <a href="#contact-info" data-toggle="collapse">
                      <b>Contacts</b>
                    </a>
                  </p>
                  <div id="contact-info" class="collapse">
                    <% contacts = get_assignment_contacts(assignment.id) %>
                    <% if contacts.count == 0 %>
                      <i>No assignment contacts...</i>
                    <% else %>
                      <% contacts.each do |contact| %>

                        <% unless contact.role == "reconstruction_pm" || contact.role == "project_manager" %>
                          <b><%= contact.role.capitalize %></b>
                        <% end %>

                        <% if contact.role == "reconstruction_pm" %>
                          <b>PDR Project Manager</b>
                        <% elsif contact.role == "project_manager" %>
                          <b>Project Manager</b>
                        <% end %>

                        <br>
                        <span class="glyphicon glyphicon-user"></span> <%= contact.name %> <%= contact.company_name %>
                        <% unless contact.phone.empty? %>
                        <br>
                        <span class="glyphicon glyphicon-earphone"></span> <%= contact.phone %>
                        <br>
                        <% end %>
                        <% unless contact.email.empty? %>
                        <span class="glyphicon glyphicon-envelope"></span> <%= contact.email %>
                        <% end %>
                        <br>
                        <br>

                      <% end %> <!-- END LOOP FOR CONTACTS -->
                    <% end %>
                  </div>
                </div>
            <!-- END CONTACT INFO COLLAPSE -->

            <!-- WORKFLOW STATUS COLLAPSE -->
            <div class="col-md-3">
                  <p class="mb-0">
                    <a href="#workflow-status" data-toggle="collapse">
                      <b>Workflow Status</b>
                    </a>
                  </p>
                  <div id="workflow-status" class="collapse">
                    <!-- TARGET START DATE -->
                    <% if assignment.target_start_date.present? %>
                    <p><b>Target Start Date</b>
                      <%= assignment.target_start_date.strftime("%m.%d.%y") %>
                    <% end %>
                    </p>
                    <!-- TARGET END DATE -->
                    <% if assignment.target_end_date.present? %>
                    <p><b>Target End Date</b>
                      <%= assignment.date_assigned.strftime("%m.%d.%y") %>
                    <% end %>
                    </p>

                    <!-- ACTUAL START DATE -->
                    <% if assignment.actual_start_date.present? %>
                    <p><b>Actual Start Date</b>
                      <%= assignment.actual_start_date.strftime("%m.%d.%y") %>
                    <% end %>
                    </p>

                    <!-- ACTUAL END DATE -->
                    <% if assignment.actual_end_date.present? %>
                    <p><b>Actual End Date</b>
                      <%= assignment.actual_end_date.strftime("%m.%d.%y") %>
                    <% end %>
                    </p>


                  </div>
                </div>
            <!-- END WORKFLOW STATUS COLLAPSE -->
          </div>
        </div>

      </div> <!-- END ASSIGNMENT CARD -->
      <% end %>
  <% end %>
