<div class="modal fade" id="edit-task-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Edit Task</h4>
      </div>
      <div class="modal-body">
        <%= form_for @task, method: :put do |f| %>

              <label for="text">Text</label>
              <%= f.text_area :text, class: "form-control", style: "resize:none;" %>
              <br>
              <label for="is-high-priority">Priority</label>
                <br>
                <%= f.radio_button :is_high_priority, true, :value => true%>
                <%= f.label :is_high_priority, "High", value: true %>
                <%= f.radio_button :is_high_priority, false, :value => false, style: "margin-left:10px;" %>
                <%= f.label :is_high_priority, "Low", value: false %>
                <br>
                <br>
              <label for="date-due">Date Due</label>
                <%= f.date_field :date_due, class: "form-control" %>

                <br>
            <%= f.submit "Update Task", class: "btn btn-success btn-block"  %>

            <%= f.hidden_field :user_id, :value => current_user.id %>

        <% end %>

    </div>
  </div>
</div>
</div>
