<div class="modal fade" id="new-assignment-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">New Assignment</h4>
      </div>
      <div class="modal-body">
        <%= form_for (@assignment = Assignment.new), method: :post do |f| %>

            <div class="row">
              <!-- ASSIGNMENT NAME -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="assignment-name">Assignment Name</label>
                <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Example: Lawson", required: true %>
              </div>

              <!-- DATE ASSIGNED -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="date-assigned">Date Assigned</label>
                <%= f.date_field :date_assigned, class: "form-control", required: true %>
              </div>

              <!-- LOSS CATEGORY -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="loss-category">Loss Type</label>
                <br>
                <%= f.select :loss_category, Assignment.loss_categories.map { |key, value| [key.humanize, key] }, required: true, :prompt => "---", :include_blank => true %>
              </div>

              <!-- IS ON XA? -->
              <div style="margin-bottom: 25px" class="col-xs-12">
                <label for="is-on-xa">Is this assignment on XactAnalysis?</label>
                <br>
                <%= f.radio_button :is_on_xa, true, :value => true%>
                <%= f.label :is_on_xa, "Yes", value: true %>
                <%= f.radio_button :is_on_xa, false, :value => false, style: "margin-left:10px;" %>
                <%= f.label :is_on_xa, "No", value: false %>
              </div>

              <!-- HIDDEN FIELDS -->
              <%= f.hidden_field :assignment_stage, :value => 'assigned' %>
              <!-- <%= f.hidden_field :job_number, :value => 'Add job number' %>
              <%= f.hidden_field :loss_description, :value => 'Add description' %>
              <%= f.hidden_field :mitigation_status, :value => 'Add mitigation status' %>
              <%= f.hidden_field :abatement_status, :value => 'Add abatement status' %>
              <%= f.hidden_field :claim_number, :value => 'Add claim number' %>
              <%= f.hidden_field :estimate_status, :value => 'Add estimate status' %>
              <%= f.hidden_field :estimate_total, :value => 0 %>
              <%= f.hidden_field :actual_start_date, :value => 'Add date' %>
              <%= f.hidden_field :is_contract_signed, :value => false %>
              <%= f.hidden_field :address, :value => 'Add address' %>
              <%= f.hidden_field :year_built, :value => 0000 %> -->


            </div>

                <br>
            <%= f.submit "Create New Assignment", class: "btn btn-success btn-block"  %>

          <% end %>

        </div>
    </div>
  </div>
</div>


<!-- NEW ASSIGNMENT FULL FORM -->
<div class="modal fade" id="new-assignment-full-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">New Assignment</h4>
      </div>
      <div class="modal-body">
        <%= form_for (@assignment = Assignment.new), method: :post do |f| %>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <!-- PANEL 1 -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Collapsible Group Item #1
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <!-- ASSIGNMENT NAME -->
                <div class="row">
                  <div style="margin-bottom: 25px" class="col-xs-8 col-sm-8 col-lg-6">
                    <label for="assignment-name">Assignment Name *</label>
                    <%= f.text_field :name, autofocus: true, class: "form-control", required: true %>
                    <i>Example: Lawson</i>
                  </div>
                </div>

                <!-- DATE ASSIGNED -->
                <div class="row">
                  <div style="margin-bottom: 25px" class="col-xs-8 col-sm-8 col-lg-4">
                    <label for="date-assigned">Date Assigned *</label>
                    <%= f.date_field :date_assigned, class: "form-control", required: true %>
                  </div>
                </div>

                  <!-- LOSS CATEGORY -->
                  <div class="row">
                    <div style="margin-bottom: 25px" class="col-xs-12">
                      <label for="loss-category">Loss Type *</label>
                      <br>
                      <%= f.select :loss_category, Assignment.loss_categories.map { |key, value| [key.humanize, key] }, required: true, :prompt => "---", :include_blank => true  %>
                    </div>
                  </div>

                  <!-- IS ON XA? -->
                  <div class="row">
                    <div style="margin-bottom: 25px" class="col-xs-12">
                      <label for="is-on-xa">On XactAnalysis?</label>
                      <br>
                      <%= f.radio_button :is_on_xa, true, :value => true%>
                      <%= f.label :is_on_xa, "Yes", value: true %>
                      <%= f.radio_button :is_on_xa, false, :value => false, style: "margin-left:10px;" %>
                      <%= f.label :is_on_xa, "No", value: false %>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <!-- END PANEL 1 -->

          <!-- PANEL 2 -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Collapsible Group Item #2
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <!-- INSURANCE COMPANY NAME -->
                <div class="row">
                  <div style="margin-bottom: 25px" class="col-xs-8 col-sm-8 col-lg-6">
                    <label for="company-name">Insurance Company Name</label>
                    <%= f.text_field :company_name, class: "form-control" %>
                    <i>Example: USAA</i>
                  </div>
                </div>

                <%= f.hidden_field :company_category, :value => 'insurance' %>

                <!-- CLAIM NUMBER -->
                <div class="row">
                  <div style="margin-bottom: 25px" class="col-xs-8 col-sm-8 col-lg-6">
                    <label for="claim-number">Claim Number</label>
                    <%= f.text_field :claim_number, class: "form-control" %>
                    <i>Example: 1001-16-548</i>
                  </div>
                </div>

                <!-- JOB NUMBER -->
                <div class="row">
                  <div style="margin-bottom: 25px" class="col-xs-8 col-sm-8 col-lg-6">
                    <label for="job-number">Job Number</label>
                    <%= f.text_field :job_number, class: "form-control" %>
                    <i>Example: EBCA-101-4-16-R</i>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- END PANEL 2 -->

          <!-- PANEL 3 -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Collapsible Group Item #3
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <!-- LOSS DESCRIPTION -->
                <div class="row">
                  <div style="margin-bottom: 25px" class="col-xs-12 col-sm-12 col-lg-12">
                    <label for="loss-description">Loss Description</label>
                    <%= f.text_area :loss_description, class: "form-control", style: "resize:none;" %>
                    <i>Example: Supply line behind toilet leaked due to wear and tear</i>
                  </div>
                </div>

                <!-- MITIGATION STATUS -->
                <div class="row">
                  <div style="margin-bottom: 25px" class="col-xs-12 col-sm-12 col-lg-12">
                    <label for="mitigation-status">Mitigation Status</label>
                    <%= f.text_area :mitigation_status, class: "form-control", style: "resize:none;" %>
                    <i>Example: ServPro is completing the mitigation. David is the project manager, his number is (555) 555-5555</i>
                  </div>
                </div>

                <!-- ABATEMENT STATUS -->
                <div class="row">
                  <div style="margin-bottom: 25px" class="col-xs-12 col-sm-12 col-lg-12">
                    <label for="abatement-status">Abatement Status</label>
                    <%= f.text_area :abatement_status, class: "form-control", style: "resize:none;" %>
                    <i>Example: ERI gave us a bid and they can likely start on Monday</i>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- END PANEL 3 -->

          <!-- PANEL 4 -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Collapsible Group Item #4
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                <!-- ADDRESS -->
                <div class="row">
                  <div style="margin-bottom: 25px" class="col-xs-12 col-sm-12 col-lg-8">
                    <label for="address">Site Address</label>
                    <%= f.text_area :address, class: "form-control", style: "resize:none;" %>
                    <i>Example: 123 Fake Street Fresno, CA</i>
                  </div>
                </div>

                <!-- YEAR BUILT -->
                <div class="row">
                  <div style="margin-bottom: 25px" class="col-xs-6 col-sm-6 col-lg-3">
                    <label for="year-built">Year Built</label>
                    <%= f.text_field :year_built, class: "form-control" %>
                    <i>Example: 1975</i>
                  </div>
                </div>

                <!-- ASSIGNMENT CONTACT BUTTON COLLAPSE -->
                <div class="row">
                  <div class="col-xs-12">
                    <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseContact1" aria-expanded="false" aria-controls="collapseContact1">
                      Add Primary Contact
                    </button>
                    <br>
                    <br>
                  </div>
                </div>

                <br>
                <div class="collapse clearfix" id="collapseContact1">
                  <div class="clearfix">
                    <div style="margin-bottom: 25px" class="col-xs-8 col-sm-8 col-lg-6">
                      <label for="contact-name">Name</label>
                      <%= f.text_field :contact_name, class: "form-control" %>
                    </div>

                    <div style="margin-bottom: 25px" class="col-xs-12">
                      <label for="contact-role">Contact Title *</label>
                      <br>
                      <%= f.select :contact_role, Assignment.contact_roles.map { |key, value| [key.humanize, key] }, :prompt => "---", :include_blank => true, required: true  %>
                    </div>

                    <div style="margin-bottom: 25px" class="col-xs-8 col-sm-8 col-lg-4">
                      <label for="contact-phone">Phone Number</label>
                      <%= f.phone_field :contact_phone, class: "form-control", placeholder: "(___) ___-____" %>
                    </div>

                    <div style="margin-bottom: 25px" class="col-xs-8 col-sm-8 col-lg-6">
                      <label for="contact-email">Email</label>
                      <%= f.text_field :contact_email, class: "form-control" %>
                    </div>

                  </div>
                </div>
                <!-- END ASSIGNMENT CONTACT BUTTON COLLAPSE -->

              </div>
            </div>
          </div>
          <!-- END PANEL 4 -->
        </div>


              <!-- HIDDEN ASSIGNMENT STAGE DEFAULT TO 'ASSIGNED' -->
              <%= f.hidden_field :assignment_stage, :value => 'assigned' %>


            <%= f.submit "Create New Assignment", class: "btn btn-success btn-block"  %>


          <% end %>


    </div>
  </div>
</div>
</div>
