<!DOCTYPE html>
<html>
  <head>
    <title>DockIt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="http://i.imgur.com/RUp0cqQ.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-confirmation/1.0.5/bootstrap-confirmation.js"></script>
  </head>

  <body>

    <% unless controller_name == "sessions" || controller_name == "registrations" %>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a id="navbar-brand" class="dock-it navbar-brand" href="/home">Dock<strong>IT</strong></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New Assignment <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li style="margin-top:3px;"><%= link_to "Quick Add", new_assignment_path, "data-toggle" => "modal", 'data-target' => '#new-assignment-modal' %></li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to "Full Form", new_assignment_path, "data-toggle" => "modal", 'data-target' => '#new-assignment-full-modal' %></li>
                  </ul>
                </li>

                <li><%= link_to "New Assignment Note", new_assignment_note_path, "data-toggle" => "modal", 'data-target' => '#new-assignment-note-modal' %></li>
                <li><%= link_to "New Assignment Contact", new_assignment_contact_path, "data-toggle" => "modal", 'data-target' => '#new-assignment-contact-modal' %></li>
              </ul>

            <ul class="nav navbar-nav navbar-right">
              <%= link_to "Sign Out", destroy_user_session_path, class: "btn btn-default navbar-btn", :method => :delete %>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    <% end %>

    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>

      <!-- FLASH MESSAGES -->
      <%= render "partials/flash_messages/error_flash" %>
      <%= render "partials/flash_messages/success_flash" %>


      <%= yield %>

      <!-- NEW ASSIGNMENT MODAL -->
      <%= render "partials/new_assignment_modal" %>
      <!-- NEW ASSIGNMENT_NOTE MODAL -->
      <%= render "partials/new_assignment_note_modal" %>
      <!-- NEW ASSIGNMENT_NOTE MODAL -->
      <%= render "partials/new_assignment_contact_modal" %>

      <!-- <nav class="navbar navbar-default fixed-bottom" style="margin-bottom:0;">
        <div class="container text-center" style="padding-top:2vh;">
        &copy; <%= Time.now.year %> | Company Information
        </div>
      </nav> -->
  </body>
</html>
